/* .a{
    display: none; ẩn đi code
    display: block; hiện lại code
} */
/* Header */
/* position:absolute header bị mất vì position:absolute carousel đè lên nên mất */
header{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* nếu có left: 50%; thì nó đi lun qua phải, nên phải có transform: translateX(-50%); để canh giữa theo chiều ngang */
    z-index: 1;
    /* z-index để cho thẻ có độ ưu tiên cao hơn thẻ khác, z-index: cao hơn thì độ ưu tiên cao hơn */

}
header .navbar-brand i{
    color: green;
    font-size: 2.5rem;
}
header .navbar-brand span{
    font-size: 2rem;
}
header ul li{
    margin: 0 10px;
}
header ul li.active a{
    color: green !important;
}
/* After đường kẻ dưới li */
header ul li::after{
    /* after/before bắt buộc phải có content:"" */
    content: "";
    height: 2px;
    display: block;
    background-color: green;
    width: 0%;
    transition: all .5s;
}
header ul li.active::after{
    width: 100%;
}
header ul li:hover::after{
    width: 100%;
    color: green;
}

/* Carousel */
.carousel-item{
    /* background-image không có chiều cao phải cho height */
    height:100vh;
    /* vh độ cao tương đối gặp màn hình nào cũng full */
    background-position: center;
    background-size: cover;
    /* làm lớp overlay mỏng ảnh nền xuống */
}
.carousel-item:nth-child(1){
    background-image: url("../images/finland.jpg");
}
.carousel-item:nth-child(2){
    background-image: url("../images/mountains.jpg");
}
.carousel-item:nth-child(3){
    background-image: url("../images/mountains-1.jpg");
}
.img__thumb{
    width: 150px;
    margin: auto;
    /* margin: auto canh giua 4 huong */
}
.img__thumb img{
    border-radius: 50%;
}
/* làm cho div.carousel-item canh giữa theo chiều đứng carousel */
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    /* 2 thuộc tính đi đôi phải ở trong position */
}
/* Làm cái chuyển carousel thành hình tròn */
.carousel-indicators li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
/* .carousel-indicators li.active{

} */
/* Project */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #35a22c;
}

#project .card{
    margin-bottom: 2rem ;
    border-radius: 20px;
    overflow: hidden;
    /* overflow:hidden cắt gọn tấm hình border nó nằm ngoài / ẩn bên ngoài thẻ */
    /* border: 1px solid transparent; */
    text-align: center;
    box-shadow: 0 0 10px #00000067;
    /* box-shadow: X Y độbóng màu*/
    cursor: pointer;
    border: none;
    /* border-top-color: transparent; */
    transition: all .5s;
}
#project .card:hover{
    border: 1px solid green;
}
#project .card:hover .card-body h4{
    color: lightgreen;
}
/* Service */
#service{
    background-image: url("../images/3.jpg");
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
    background-attachment: fixed;
    /* background-attachment:fixed / roll thi dung im 1 cho */
    position: relative;
    
}
#service .title{
    position: relative;
    /* Thêm position thì đè lên overlay */
    /*  z-index  /đi đôi với 
        position */
}
#service .card{
    padding: 1rem;
    color: white;
    background-color: #0000005e;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    /* backdrop-filter: blur(3px) làm nhòe */
}
#service .card .card-body i{
    font-size: 3rem;
    color: green;
    margin-bottom: 1rem;
}
#service .overlay{
    background-color: #0000008f;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* EDU */
#edu{
    position: relative;
    padding: 70px;
}
#edu .bg_edu{
    position:absolute;
    top: 0;
    left: 0; 
    background-image: url("../images/memphis_3.png");
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center left;
}